NEXT_PUBLIC_APP_URL=https://witaline.pl
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=+48732125752
ELEVENLABS_API_KEY=
ELEVENLABS_AGENT_ID=agent_1501krvm9y90e549tyg96mgczsfv
WEBHOOK_SECRET=wsec_dc9eb186396aab40f61bf83e3ab652d6147b38da625f83580887ab0b91693321
SUPABASE_URL=
SUPABASE_ANON_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
